rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Grant read access to everyone for all files.
    // This allows anyone with the URL to view the images.
    match /{allPaths=**} {
      allow read;
    }

    // Secure the signature folder
    match /tanda-tangan-pengawas/{fileName} {
      // Allow write (upload) only if the user is authenticated.
      allow write: if request.auth != null;
    }
  }
}
